.button {
  background-color: white;
  border: none;
  color: #535459;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 20px !important;
  border: 1px solid #ccc; }

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s; }

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  z-index: 1; }

.button:hover span {
  padding-right: 25px; }

.button:hover span:after {
  opacity: 1;
  right: 0; }

.none {
  display: none; }

.img-responsive {
  width: 30%;
  max-width: 100px;
  height: 70px; }

.d-block {
  display: inline-block; }

.arrow-reponsive {
  width: 10%;
  height: 30px;
  max-width: 80px; }

.ml10 {
  margin-left: 10px; }

.ml20 {
  margin-left: 20px; }

.mt10 {
  margin-top: 10px; }

.mt-10 {
  margin-bottom: -10px; }

.pd10 {
  padding: 10px; }

.mt30 {
  margin-top: 30px; }

.bolder {
  font-weight: bold; }

.flex-column {
  display: flex;
  flex-direction: column; }

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.text-center {
  text-align: center; }

.description-prev {
  text-align: center;
  color: #535459;
  font-size: 12px; }

.fr {
  float: right; }

@font-face {
  font-family: Poppins;
  src: url("../../fonts/Poppins-Regular.ttf"); }
body, html {
  height: 100%;
  width: 100%; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box; }

.navbar {
  min-height: 70px;
  height: auto;
  width: 100%;
  position: fixed;
  background-color: #85CDE6;
  box-shadow: 0 10px 6px -10px #ccc;
  border-bottom: 1px solid rgba(104, 92, 92, 0.171);
  z-index: 999;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .navbar .logo {
    margin: 20px 0px 0px 20px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    display: inline-block;
    font-size: 25px; }

.display__display-all {
  height: 100%;
  display: none; }

.loader-extern__loading {
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: auto; }

.loader-extern__message {
  color: #535459;
  font-weight: bold;
  font-size: 20px; }

.background {
  min-height: 100%;
  width: 100%;
  background: #F7F7F7;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .background .block-left {
    width: 40%;
    min-height: 300px;
    height: auto;
    background-color: white;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 10px 6px -10px #777;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-top: 60px;
    padding: 10px;
    z-index: 2; }
    .background .block-left .error-message {
      color: #df7f6b;
      margin-top: 10px; }
    .background .block-left .block-left-top {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      height: auto; }
      .background .block-left .block-left-top .prev-temp {
        color: #535459;
        font-weight: bold;
        font-size: 18px; }
    .background .block-left .block-left-bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: column;
      height: auto; }
      .background .block-left .block-left-bottom .text-search {
        padding: 15px;
        font-size: 16px;
        color: #535459; }
  .background .block-right {
    margin-left: 20px;
    width: 30%;
    height: auto;
    padding: 15px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 10px 6px -10px #777;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    z-index: 2;
    transition: opacity 1s ease;
    display: none; }
    .background .block-right .block-right-top .flex-inline {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      .background .block-right .block-right-top .flex-inline .description {
        color: #535459;
        font-weight: bold; }
      .background .block-right .block-right-top .flex-inline .prev-c {
        font-size: 40px;
        color: #535459;
        font-weight: bold; }
    .background .block-right .prev-locate {
      color: #4990C7;
      float: left; }
    .background .block-right .prev-date {
      color: #8B8987;
      margin-top: 10px; }
    .background .block-right .prev-condition {
      color: #8B8987;
      margin-top: 5px; }
  .background .tip {
    width: 100%;
    height: auto;
    display: none;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10px; }
    .background .tip .tips {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 30%;
      height: auto;
      min-height: 150px;
      background-color: white;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      box-shadow: 0 10px 6px -10px #777;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      z-index: 2; }
      .background .tip .tips .img-today {
        display: inline-block; }
      .background .tip .tips .max {
        display: flex;
        justify-content: space-around; }
      .background .tip .tips .day-today {
        color: #4990C7;
        margin-bottom: 10px; }

@media (max-width: 1018px) {
  .background .block-right {
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 0px;
    margin-bottom: 50px; }

  .background .block-left {
    width: 60%;
    align-items: center;
    justify-content: center;
    margin-top: 150px; } }
@media (max-width: 700px) {
  .tips {
    width: 40% !important; }

  .tips:last-child {
    margin-top: 40px;
    margin-bottom: 10px; } }
@media (max-width: 500px) {
  .background .block-left {
    width: 70%; }

  .text-search {
    margin-right: 0 !important; }

  .tips {
    width: 60% !important;
    margin-top: 40px; }

  .navbar {
    justify-content: center;
    align-items: center;
    flex-direction: column; }

  .logo {
    margin-top: 10px !important;
    margin-left: 0 !important; }

  .background--infoDiv {
    margin-bottom: 10px; }

  .background--sun {
    margin-top: 100px !important;
    width: 70% !important; } }
@media (max-width: 380px) {
  .background .block-left {
    width: 98%; }

  .background .block-right {
    width: 98%; }

  .tips {
    width: 80% !important;
    margin-top: 40px; }

  .tips:last-child {
    margin-bottom: 20px; } }
.close__delete--position {
  margin-top: 7px;
  width: 10px;
  height: 10px; }
  .close__delete--position:hover {
    opacity: .6 !important; }

.close__delete {
  cursor: pointer;
  float: right;
  width: 16px;
  height: 16px;
  opacity: .6;
  background-image: url("../../img/delete-bin.png");
  transition: all .7s ease-in;
  z-index: 9; }
  .close__delete:hover {
    background-image: url("../../img/delete-bin-red.png");
    opacity: .6; }

img {
  width: 100%;
  height: auto; }

.block-right--tw-heart-box {
  position: relative;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-top: -18px; }

.block-right--tw-heart {
  background: url(http://i.imgur.com/zw8ahUb.png) no-repeat 0 0;
  background-size: cover;
  display: inline-block;
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0;
  top: 0; }

[type="checkbox"]:checked + .block-right--tw-heart {
  transition: background 0.8s steps(28);
  background-position: -1400px 0; }

[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

.loader--loading {
  width: 100%;
  height: 100%;
  background: url("../../img/Preloader.gif") no-repeat;
  width: 90px;
  height: 90px;
  display: none;
  margin-left: 40px; }

.background--responsive {
  width: 10%;
  height: auto; }

.background--chuva {
  opacity: 0.3;
  width: 120%;
  height: 100%;
  float: right;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1; }

.background--sun {
  opacity: 0.7;
  width: 50%;
  height: auto;
  float: right;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 40px;
  z-index: 1; }

.background--infoDiv {
  width: auto;
  padding: 20px 20px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-top: 5px;
  cursor: pointer;
  z-index: 4;
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color .7s ease-in;
  margin-right: -5px;
  border-radius: 5px; }

.header__close-favorite {
  margin-left: 5px;
  margin-top: 5px;
  position: absolute;
  float: left;
  color: #535459;
  font-weight: bold;
  z-index: 5;
  cursor: pointer;
  transition: color .7s ease; }
  .header__close-favorite:hover {
    color: #E74C3C; }

.display-favorite {
  display: none; }

.background--image {
  width: 60px;
  min-height: 70px;
  display: inline-block;
  margin-top: 15px; }

.background--city {
  font-weight: bold;
  color: #535459; }

.background--cMax {
  color: #E74C3C;
  font-weight: bold; }

.background--cMix {
  color: #3776BA;
  font-weight: bold; }

.block-right__favoriting {
  margin-top: 10px;
  float: right; }

.block-right__sensation-bold {
  color: #535459;
  font-weight: bold; }

.block-right__sensation-regular {
  color: #535459; }

/*# sourceMappingURL=style.css.map */
