@import "variables";
@import "resets";
@import "classes";
@import "globalcss";
@import "navbar";
@import "blockleft";
@import "blockright";
@import "loaderextern";
@import "tip";
@import "button";
@import "mediasquery";
@import "fonts";

.display__display-all {
    min-height: 100%;
    height: auto;
    display: none;
}

.display__index {
    min-height: 100%;
    width: 100%;
    height: auto;
    background-color: transparent;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.background__chuva {
    opacity: 0.4;
    width: 120%;
    height: 100%;
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -2;
}

.background__sun {
    opacity: 1;
    width: 50%;
    height: auto;
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 40px;
    z-index: -2;
}