$tamanho-prev: 300px;
$color-prev: #8B8987;
$card-shadow: 0 10px 6px -10px #777;
$card-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
$blue-text: #4990C7;
$navbar-background: #85CDE6;
$text-color-black-op:#535459;